html, body {
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
}

body {
	margin:1em;
	background: #9FB8B8;
	color:#00008B;
}

h1 {
	margin: 0;
	padding: 0px;
	font-size: 1em;
}

fieldset {
	float:left;
	border: 1px solid #ab7;
}

legend,label {
	font-size:small;
}

input,select,#map {
	background: #C1D6D6;
	color: #3D7878;
	color: #00008B;
	border: 2px solid #6C7D7D;
	border: 2px solid #00008B;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
}


h1,h2,h4 {
	margin:0;
}

ul,li {
	margin:0;
}

#map_wrap {
	clear:both;
	float:left;
	position:relative;
}
#map {
	height:400px;
	width:500px;
	background: #B5D0D0;
}

#tool {
	margin:2px 0;
	width:500px;
	clear:both;
	position:relative;	
}
#loader {
	display:none;
	margin:0 20px;
	position:absolute;
	top:0;
	right:0;
}

#status {
	text-align:left;
	padding:2px;
	clear:both;
	border:1px solid #888;
	border-top:none;
	height:1em;
	background:#ddd;
	font-size:.85em;
	line-height:.85em;
}
hr {
	border:none;
	border-bottom:1px solid #ab7;
	margin:4px;
}
#log_wrap {
	display:none;
	float: left;
}

#dati {
	display:none;
	font-size:small;
	position:absolute;
	bottom:0;
	padding:4px;
	width:492px;
	max-height:50%;
	overflow-y:scroll;	
	z-index:1000;
	border:1px solid #ab7;
	background-color: #efe;
	color:#000;
	opacity: .70;
	filter:Alpha(Opacity=70);		
}
#dati .x {
	position:absolute;
	top:2px;
	right:2px;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
}

#log {
	overflow-y:scroll;
	max-height:280px;
	padding:1em;
	border:1px solid #ab7;
	background-color: #efe;
	font-size:small;
}
#copy {
	position:fixed;
	top:4px;
	right:8px;
	z-index:4000;
	font-size:small;	
}
 .olPopup {
	 border-radius: 0.25em;
	 -moz-border-radius: 0.25em;
	 -webkit-border-radius: 0.25em;
	 }

 .olPopupContent {
}

 .olPopupCloseBox {
}
